<li class="list-group-item">
	{{burger_name}}

	<button class="change-devoured btn btn-warning" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}{{else}}Time to GRUB!{{/if}}
	</button>

</li>
